.header {
    background-color: black;
    height: 10vh;
    display: flex;
    width: 1190px;
    
        
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.navOptions {
    display: flex;
    
}


.logoHolder {
    width: 5rem;
        
    
}

.optionMenu{
    display: none;
}


@media  (max-width: 468px){
    .header{
        
        width:90%;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    
}

.optionMenu{
    display: block;
    
}

.regbtn{
    display: none;
}

.navOptions{
    display: none;
}

.NavOptions{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    left: 0;
    color: white;
    background-color: black;
    
    
}

.NavOptions ul {
    padding:0;
    margin-left: 10px;
}
    }


